/* Lower than Small */
/*------------------------------------*\
  COLORS
\*------------------------------------*/
/*------------------------------------*\
  VALUES
\*------------------------------------*/
/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/
/* 500px / 16 */
/* 700px / 16 */
/* 900px / 16 */
/* Lower than Small */
/* Lower than Medium */
/* Lower than Large */
/**********************************************************/
/**************************DESIGN**************************/
/**********************************************************/
/* This is the standard stylings, used for large */
@font-face {
  font-family: 'TestFont';
  src: url('less/less/../assets/fonts/TestFont.eot');
  src: url('less/less/../assets/fonts/TestFont.eot?#iefix') format('embedded-opentype'), url('less/less/../assets/fonts/TestFont.svg') format('svg'), url('less/less/../assets/fonts/TestFont.woff') format('woff'), url('less/less/../assets/fonts/TestFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
div#main {
  margin: auto;
  width: 1280px;
  background-color: gray;
  min-height: 300px;
  border-radius: 20px;
}
h1 {
  color: white;
  margin-left: 50px;
  padding-top: 25px;
}
#sizeIndicator:before {
  color: white;
  content: "LARGE";
}
#menu {
  background-color: gainsboro;
  float: left;
  width: 100%;
}
.menuAlternative:first-child {
  margin-left: 40px;
}
.menuAlternative {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.menuAlternative:hover {
  background-color: darkgray;
}
@media only screen and (min-width: 0em) and (max-width: 43.99em) {
  #sizeIndicator:before {
    content: "SMALL";
  }
}
@media only screen and (min-width: 44em) and (max-width: 55.99em) {
  #sizeIndicator:before {
    content: "MEDIUM";
  }
  div#main {
    margin: auto;
    width: 680px;
  }
}
