/* Lower than Small */
/*------------------------------------*\
  COLORS
\*------------------------------------*/
/*------------------------------------*\
  VALUES
\*------------------------------------*/
/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/
/* 500px / 16 */
/* 700px / 16 */
/* 900px / 16 */
/* Lower than Small */
/* Lower than Medium */
/* Lower than Large */
/**********************************************************/
/**************************DESIGN**************************/
/**********************************************************/
/* This is the standard stylings, used for large */
* {
  padding: 0px;
  margin: 0px;
}
body {
  background: url('less/less/../img/bg3.png');
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
h1 {
  padding: 0px;
  margin: 0px;
  color: white;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: ProxiBlack;
  font-size: 4em;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
}
p {
  margin: 0px;
  padding: 0px;
}
div#main {
  margin: auto;
  width: 1280px;
}
div#topBar {
  background: url('less/less/../bg2.png');
  box-shadow: 0px 10px 5px #888888;
  border-bottom: 2px solid gainsboro;
}
div#topBarInnerContainer {
  width: 1280px;
  margin: auto;
}
#menu {
  background: #eeeeee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */

  width: 96%;
  margin-left: 1.5%;
  border-left: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  padding-left: 10px;
}
div#contentBar {
  margin: 0;
  padding: 20px 40px 20px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #628cc3;
  min-height: 600px;
  box-shadow: 10px 10px 5px #888888;
}
div#contentBar p {
  font-family: ProxiSemiRegular;
}
#sizeIndicator:before {
  color: white;
  content: "LARGE";
  position: fixed;
  top: 0;
  left: 0;
}
@font-face {
  font-family: 'ProxiBold';
  src: url('less/less/../fonts/proximanova-bold/ProximaNova-Bold.eot');
  src: url('less/less/../fonts/proximanova-bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('less/less/../fonts/proximanova-bold/ProximaNova-Bold.svg') format('svg'), url('less/less/../fonts/proximanova-bold/ProximaNova-Bold.woff') format('woff'), url('less/less/../fonts/proximanova-bold/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProxiSemiBold';
  src: url('less/less/../fonts/proximanova-semibold/ProximaNova-Semibold.eot');
  src: url('less/less/../fonts/proximanova-semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('less/less/../fonts/proximanova-semibold/ProximaNova-Semibold.svg') format('svg'), url('less/less/../fonts/proximanova-semibold/ProximaNova-Semibold.woff') format('woff'), url('less/less/../fonts/proximanova-semibold/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProxiBlack';
  src: url('less/less/../fonts/proximanova-black/ProximaNova-Black.eot');
  src: url('less/less/../fonts/proximanova-black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'), url('less/less/../fonts/proximanova-black/ProximaNova-Black.svg') format('svg'), url('less/less/../fonts/proximanova-black/ProximaNova-Black.woff') format('woff'), url('less/less/../fonts/proximanova-black/ProximaNova-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProxiSemiRegular';
  src: url('less/less/../fonts/proximanova-regular/ProximaNova-Regular.eot');
  src: url('less/less/../fonts/proximanova-regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('less/less/../fonts/proximanova-regular/ProximaNova-Regular.svg') format('svg'), url('less/less/../fonts/proximanova-regular/ProximaNova-Regular.woff') format('woff'), url('less/less/../fonts/proximanova-regular/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media only screen and (min-width: 0em) and (max-width: 43.99em) {
  #sizeIndicator:before {
    content: "SMALL";
  }
  div#main {
    margin: auto;
    width: 480px;
  }
}
@media only screen and (min-width: 44em) and (max-width: 55.99em) {
  #sizeIndicator:before {
    content: "MEDIUM";
  }
  div#main {
    margin: auto;
    width: 680px;
  }
}
@media only screen and (min-width: 56em) {
  .mainMenuLink {
    font-family: ProxiSemiBold;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 7px 5px 7px 5px;
    outline: none;
    color: #000;
    letter-spacing: 2px;
    font-size: 1.3em;
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .mainMenuLink span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 100%);
    /* W3C */
  
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
    /* IE6-9 */
  
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .mainMenuLink span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    text-align: center;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotatex(-90deg);
    -moz-transform: rotatex(-90deg);
    transform: rotatex(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  .mainMenuLink:hover span,
  .mainMenuLink:focus span {
    -webkit-transform: rotatex(90deg) translatey(-22px);
    -moz-transform: rotatex(90deg) translatey(-22px);
    transform: rotatex(90deg) translatey(-22px);
  }
  .mainMenuLink:hover span::before,
  .mainMenuLink:focus span::before {
    background: #457bc3;
  }
}
