/*------------------------------------*\
  COLORS
\*------------------------------------*/

@niceBlue: #457bc3;
@black: #000000;
@lighterBlack: #505050;
@linkColor: #0054a6;
@linkHoverColor: #001a64;
@borderColor: #628cc3;

/*------------------------------------*\
  IMAGES
\*------------------------------------*/

/*@bodyBackground: url('../img/bg3.png');*/
@bodyBackground: url('../img/12.jpg');
@mainContentBg: url('../img/mainContentBg.png');
@topBarBackground: url('../img/bg2.png');
@crosshatch: url('../img/crosshatch.png');

/*------------------------------------*\
  VALUES
\*------------------------------------*/

@minHeightOfContent: 400px;

/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/

// Major breakpoints
@small  : 30em;    /* 480px / 16 */
@medium : 48em;    /* 768px / 16 */
@large  : 80em;    /* 1024px / 16 */

// To use as max-width values
@lt-small  : (@small  - 0.01em); /* Lower than Small */
@lt-medium : (@medium - 0.01em); /* Lower than Medium */
@lt-large  : (@large  - 0.01em); /* Lower than Large */

/**********************************************************/
/**************************DESIGN**************************/
/**********************************************************/

@import "less/buttons/buttons";
@import "less/default/default";
@import "less/fonts/fonts";
@import "less/mainContent/mainContent";
@import "less/startPageTypography/startPageTypography";
@import "less/topBar/topBar";
@import "less/table/table";
@import "less/subMenuLinks/subMenuLinks";
@import "less/mainMenuLinks/mainMenuLinks";
@import "less/spinnerBox/spinnerBox";

@media only screen and (min-width: 0em) and (max-width: @lt-medium) {
	@import "less/default/default-small";
	@import "less/mainContent/mainContent-small";
    @import "less/topBar/topBar-small";
    @import "less/startPageTypography/startPageTypography-small";
    @import "less/mainMenuLinks/mainMenuLinks-small";
    @import "less/subMenuLinks/subMenuLinks-small";
}
@media only screen and (min-width: @medium) and (max-width: @lt-large) {
	@import "less/default/default-medium";
	@import "less/mainContent/mainContent-medium";
	@import "less/topBar/topBar-medium";
	@import "less/startPageTypography/startPageTypography-medium";
	@import "less/table/table-medium";
}
@media only screen and (min-width: @large) {

}