/* This is the standard stylings, used for large */
@containerWidth: 1280px;

* {
    padding: 0px;
    margin: 0px;
}

body{
    background: url('../img/bg3.png');
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    padding: 0px;
    margin: 0px;
    color: white;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: ProxiBlack;
    font-size: 4em;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

p {
    margin: 0px;
    padding: 0px;
}

div#main{
    margin: auto;
    width: @containerWidth;
}

div#topBar{
    background: url('../img/bg2.png');
    box-shadow: 0px 10px 5px #888888;
    border-bottom: 2px solid gainsboro;
}

div#topBarInnerContainer{
    width: @containerWidth;
    margin: auto;
}

#menu{
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    width: 96%;
    margin-left: 1.5%;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    padding-left: 10px;
}

div#contentBar{
    margin: 0;
    padding: 20px 40px 20px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #628cc3;
    min-height: 600px;
    box-shadow: 10px 10px 5px #888888;

    p {
        font-family: ProxiSemiRegular;
    }
}

#sizeIndicator:before{
    color: white;
    content: "LARGE";
    position: fixed;
    top: 0;
    left: 0;
}