.mainContentItem{
	float: left;
	h2 {
		font-size: 2.5em;
		font-family: ProxiBlack;
		letter-spacing: 0.1em;
		color: #1b1464;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	}

	p.textBody {
		font-family: ProxiRegular;
		padding-top: 10px;
		font-size: 1em;
		-moz-column-count: 2;
		-moz-column-gap: 1em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1em;
		column-count: 2;
		column-gap: 1em;
		line-height: 1.5em;
	}

	p.signature {
		font-family: ProxiRegular;
		color: rgba(69,54,37,0.6);
		font-size: 0.9em !important;
		letter-spacing: 0.25em;
		border-top: 1px solid rgba(69,54,37,0.2);
		display: block;
		padding-top: 0.5em;
		margin-top: 2em;
		text-align: right;
	}
}

.mainContentItem.startPage{
	width: 650px;
}