.mainContentItem{
	float: left;

	h2 {
		font-size: 2.5em;
		font-family: ProxiBlack;
		letter-spacing: 0.1em;
		color: #1b1464;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	}

	h3 {
		font-size: 6em;
		text-align: center;
		font-family: ProxiRegular;
		letter-spacing: 2px;
		color: #464646;
		padding-top: 10px;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 50px;
		text-shadow: 0px 2px 3px gray;
	}

	h4 {
		font-size: 1.1em;
		font-family: ProxiBold;
		color: black;
	}

	h5 {
		font-size: 2.6em;
		font-family: ProxiBold;
		color: white;
		text-shadow: 1px 1px 2px black;
	}

	p {
		font-family: ProxiRegular;
		font-size: 1em;
	}

	p.textBody {
		font-family: ProxiRegular;
		padding-top: 10px;
		font-size: 1em;
		-moz-column-count: 2;
		-moz-column-gap: 1em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1em;
		column-count: 2;
		column-gap: 1em;
		line-height: 1.5em;
	}

	p.signature {
		font-family: ProxiRegular;
		color: rgba(69,54,37,0.6);
		font-size: 0.9em !important;
		letter-spacing: 0.25em;
		border-top: 1px solid rgba(69,54,37,0.2);
		display: block;
		padding-top: 0.5em;
		margin-top: 2em;
		text-align: right;
	}

	.readMoreLink {
	}
}

.mainContentItem.full{
	width: 100%;
}

#socialMediaIconsContainer{
	width: 100%;
	background-color: blue;
	position: relative;

	#linksInnerContainer, #previewTitle{
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	#previewTitle{
	    z-index: 10;
	    font-family: ProxiBlack;
	    font-size: 3em;
	    top: 20px;
	    display: none;
		text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	}

	#linksInnerContainer{
		width: 100%;
		text-align: center;
		border-bottom: 3px solid @borderColor;
		padding-bottom: 10px;
		a {
			outline: 0;
			img {
				padding: 10px;
				margin-left: 5px;
				margin-right: 5px;
				width: 59px;
				height: 59px;
				opacity: 0.7;
				transition: opacity 0.6s, box-shadow 0.6s;
				box-shadow: 0px 0px 15px transparent;

				&:hover{
					box-shadow: 0px 0px 15px darkgray;
					opacity: 1.0;
				}
			}
		}
	}
}

@boxLength: ((@containerWidth - 10) / 5);
@doubleBoxLength: @boxLength*2;

#projectInfo {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(255,255,255,0.5);

	#projectInfoInner {
		margin: 0 auto;
		background-color: red;
		width: (@containerWidth * (2/3));
		margin-top: 30px;
		background: @mainContentBg;
		border: 5px solid @borderColor;

		.projectsInfoFirstColumn {
			text-align: center;
			.projectsInfoPicture {
				border-radius: 10px;
				width: 180px;
				height: 180px;
				box-shadow: 3px 3px 5px black;
			}
		}

		.projectsInfoSecondColumn {
			h5 {
				float: left;
			}
		}

		#backLink {
			float: right;
			width: 35px;
			height: 35px;
			border-radius: 18px;
			margin-top: -15px;
			margin-right: -15px;
			background: @mainContentBg;
			border: 5px solid @borderColor;
			text-align: center;
			display: table;
			cursor: pointer;

			span {
				cursor: pointer;
				display: table-cell;
				vertical-align: middle;
				font-size: 1.4em;
				font-family: ProxiBlack;
				margin-left: -2px;
			}

			&:hover {
				span {
					color: gray;
				}
			}
		}
	}
}

.projectsHeader {
	height: @boxLength;
	width: @boxLength;
	cursor: pointer;
	display: table;
	position: relative;
	background-size: 100% 100% !important;

	.big {
		height: @doubleBoxLength;
		width: @doubleBoxLength;
	}

	.projectOverlay {
		background: black;
		opacity: 0.7;
		position: absolute;
		width: @boxLength;
		height: @boxLength;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
	}

	&:hover {
		.projectsTextContainer {
			opacity: 1.0;
		}
		.projectOverlay {
			opacity: 0.2;
		}
	}

	.projectsTextContainer {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		opacity: 0;

		h5 {
			text-shadow: -1px -1px 0 #000,
					      1px -1px 0 #000,
					     -1px 1px 0 #000,
					      1px 1px 2px #000;
			font-size: 1.6em;
			font-family: ProxiBlack;
			color: white;
		}

		.description {
			clear: left;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 1.0em !important;
			text-shadow: -1px -1px 0 #000,
					      1px -1px 0 #000,
					     -1px 1px 0 #000,
					      3px 3px 2px #000;
			font-size: 0.6em;
			font-family: ProxiRegularItalics;
			color: white;
		}
	}
}

.projectsHeader.large {
	width: (@boxLength * 2);

	.projectOverlay {
		width: (@boxLength * 2);
	}
}