.table{
	display: table;
	vertical-align: top;

	.tableRow {
		display: table-row;
		vertical-align: top;

		.tableRowCell {
			display: table-cell;
			vertical-align: top;
			padding: 10px;

			.rowKeySpan, .rowValueSpan {
				font-family: 'ProxiRegular';
				text-align: left;
			}

			.rowKeySpan {
				font-size: 1.8em;
				font-weight: bold;
				letter-spacing: 2px;
			}

			.rowValueSpan {
				font-size: 1.6em;
				letter-spacing: 1px;
			}
		}
	}
}

.table.center{
	margin: 0 auto;
}

@gradeMeterMaxWidth: 80px;

.cvTable {
	// Extend from .table
	.table;
	width: 100%;
	height: 100%;

	.columnContainer {
		height: 100%;
		width: 100%;
		display: table;
		background-color: rgba(0,0,0,0.2);
	}

	.tableRow {
		.tableRowCell {
			/* JOB EXPERIENCE & EDUCATION */
			&:first-child {
				width: 65%;
				.table {
					width: 100%;
					.tableRow {
						.tableRowCell {
							/* LEFT */
							&:first-child {
								width: 30%;
							}
							/* RIGHT */
							&:last-child {
								width: 70%;
							}
						}
					}
				}
			}
			/* TECHNICAL EXPERIENCE */
			&:last-child {
				width: 35%;
			}
		}
	}

	.readMoreLabel {
		margin-left: 15px;
		&:after {
			content: 'Read more >>';
		}
	}

	#leftColumn .table .tableRow .tableRowCell,
	#rightColumn .table .tableRow .tableRowCell
	{
		padding: 35px;
	}

	#rightColumn
	{
		padding-left: 0px;
		li {
			padding-top: 3px;
			padding-bottom: 3px;
		}
	}

	span.knowledgeGrade {
		float: right;
		padding-right: 30px;
		text-shadow: 0px 2px 1px black;
		display: inline-block;

		span {
			height: 10px;
			display: inline-block;
		}

		span:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		span:last-child {
			background-color: #818181;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	span.knowledgeGrade[grade='5'] {
		span:first-child {
			background-color: #16be00;
			width: ((5/5) * @gradeMeterMaxWidth);
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		span:last-child {
			width: ((0/5) * @gradeMeterMaxWidth);
		}
	}
	span.knowledgeGrade[grade='4'] {
		span:first-child {
			background-color: #467200;
			width: ((4/5) * @gradeMeterMaxWidth);
		}
		span:last-child {
			width: ((1/5) * @gradeMeterMaxWidth);
		}
	}
	span.knowledgeGrade[grade='3'] {
		span:first-child {
			background-color: #fce700;
			width: ((3/5) * @gradeMeterMaxWidth);
		}
		span:last-child {
			width: ((2/5) * @gradeMeterMaxWidth);
		}
	}
	span.knowledgeGrade[grade='2'] {
		span:first-child {
			background-color: #ff7e00;
			width: ((2/5) * @gradeMeterMaxWidth);
		}
		span:last-child {
			width: ((3/5) * @gradeMeterMaxWidth);
		}
	}
	span.knowledgeGrade[grade='1'] {
		span:first-child {
			background-color: #db0000;
			width: ((1/5) * @gradeMeterMaxWidth);
		}
		span:last-child {
			width: ((4/5) * @gradeMeterMaxWidth);
		}
	}

	.pdfDownloadOuterContainer {
		display: table;
		height: 122px;
		background-color: #ea4c3a;
		width: 100%;

		.pdfDownloadInnerContainer {
			display: table-cell;
			background: url('/img/pdf.png');
			background-repeat: no-repeat;
			background-color: transparent;
			background-position: 90% 0;
			vertical-align: middle;

			&:hover {
				p {
					color: @lighterBlack;
				}
			}

			p {
				padding: 20px;
				font-family: 'ProxiBold';
				font-size: 2.6em;
				color: white;
				text-shadow: 0px 2px 1px black;
			}
		}
	}
}