.table{
	display: table;

	.tableRow {
		display: table-row;

		.tableRowCell {
			display: table-cell;
			padding: 10px;

			.rowKeySpan, .rowValueSpan {
				font-family: 'ProxiRegular';
				text-align: left;
			}

			.rowKeySpan {
				font-size: 1.8em;
				font-weight: bold;
				letter-spacing: 2px;
			}

			.rowValueSpan {
				font-size: 1.6em;
				letter-spacing: 1px;
			}
		}
	}
}

.table.center{
	margin: 0 auto;
}