div#topBar{
    div#topBarInnerContainer{
        width: auto;
        h1 {
            padding-left: 10px;
        }
        #socialMedia {
            //padding-right: 10px;
            display: none;
        }
    }
}