<div class="centeringBox paddingTop">
    <div class="centeringInnerBox">
        <p class="standardText">
            <div data-ng-include src="'includes/loadBox.html'" data-ng-show="controller.loading"></div>
            <div data-ng-show="!controller.loading">
                <img
                    class="artGalleryImg threedmodel"
                    src="../../../build/assets/blank-overlay.png"
                    width="150"
                    height="150"
                    style="background-image: url({{model.thumbnail}});"
                    data-ng-click="controller.openModel(model)"
                    data-ng-repeat="model in controller.models"
                />
            </div>
        </p>
    </div>
    <div id="threeDModelModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="controller.closeProject()">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <h4 class="modal-title" id="nameLabel">
                        {{ controller.currentOpenModel.displayName }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="projectTabsContainer marginTop">
                        <div
                            data-ng-repeat="tab in controller.currentOpenModel.tabs"
                            class="projectTab notSelectable"
                            data-ng-click="controller.selectTab(tab.name)"
                            data-ng-class="{'projectTab--selected': controller.selectedTab.name == tab.name}"
                        >
                            {{ tab.name }}
                        </div>
                        <!-- <div
                            class="projectTabContent"
                            data-ng-repeat="tab in controller.currentOpenModel.tabs"
                            data-ng-hide="controller.selectedTab.name != tab.name"
                        >
                            Tab content for {{ tab.name }}
                        </div> -->
                        <div class="projectTabContent" id="currentTabContent"></div>

                        <div class="projectTabContent" data-ng-hide="controller.tabs['risk'].selected != 'screenshots'">
                            <!-- Carousel -->
                            <div style="height: 400px;" class="carousel slide projectCarousel" data-ride="carousel" style="height: 400px;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                    <li data-target="#myCarousel" data-slide-to="5"></li>
                                    <li data-target="#myCarousel" data-slide-to="6"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/1.png); background-position: center top; height: 400px;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/2.png); background-position: center bottom; height: 400px;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/3.png); background-position: center bottom; height: 400px;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/4.png); background-position: center top; height: 400px;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/5.png); background-position: center top; height: 400px;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/6.png); background-position: center top; height: 400px;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="itemImage" style="background-image: url(../../build/assets/risk_screenshots/7.png); background-position: center top; height: 400px;">
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Left and right controls -->
                                <a class="left carousel-control" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="marginTop--double" id="description">
                        <p data-ng-bind-html="controller.currentOpenModel.description"></p>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <a class="button floatRight" href="https://github.com/ToWelie89/TotalRisk" target="_blank">
                        <p text="Code"></p>
                    </a>
                    <a class="button floatRight" href="http://martinsonesson.se/risk/" target="_blank">
                        <p text="Download"></p>
                    </a>
                    <a class="button floatRight" href="https://www.youtube.com/watch?v=YHkZUC0HA6I" target="_blank">
                        <p text="Trailer"></p>
                    </a>
                    <a class="button floatRight" href="https://docs.google.com/presentation/d/17fnSiDY73Ps9BFh229Hv4HJhm_53sJR8JYzTHm4MNpg/edit?usp=sharing" target="_blank">
                        <p text="Presentation"></p>
                    </a>
                    <a class="button floatRight" href="https://martinsonesson.wordpress.com/2018/01/07/creating-an-ai-for-risk-board-game/" target="_blank">
                        <p text="Risk AI blog post"></p>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>