<div class="mainContentItem full" data-ng-show="!controller.loading">
    <div data-ng-show="!controller.loading" data-ng-repeat="post in controller.posts">
        <div class="blogPostContainer" style="background-image: url({{post.post_thumbnail.URL}})" data-ng-click="controller.goToPost(post.ID)">
            <div class="blogPostInnerContainer">
                <div class="blogTitle"><span data-ng-bind="post.title"></span></div>
                <div class="excerpt"><span class="hideOnlyForSmall" data-ng-bind-html="post.excerpt"></span></div>
                <div class="blogFooterInfo"><span>Date written: {{post.modified}}</span><!-- <span><a href="{{post.guid}}" target="_blank">WordPress link</a></span> --></div>
            </div>
        </div>
    </div>
</div>

<div class="centeringBox paddingTop" data-ng-show="controller.loading">
    <div class="centeringInnerBox">
        <p class="standardText">
            <div data-ng-include src="'includes/loadBox.html'"></div>
        </p>
    </div>
</div>