<div class="blogPostInformation" style="background: url({{post.featured_image}});" data-ng-show="!loading">
    <h1 data-ng-bind="post.title" class="blogPostTitle"></h1>
    <span>
        <a href="{{post.URL}}" target="_blank">Read on WordPress</a>
    </span>
    <span>
        |
    </span>
    <span>
        Written on {{post.modified.substring(0,10)}}
    </span>
    <span>
        |
    </span>
    <span>
        Author: {{post.author.first_name}} {{post.author.last_name}}
    </span>
</div>

<div class="centeringBox marginTop" data-ng-show="loading">
    <div class="centeringInnerBox">
        <p class="standardText">
            <div data-ng-include src="'includes/loadBox.html'"></div>
        </p>
    </div>
</div>

<div class="mainPadding data-ng-show="!loading"">
    <div class="mainContentItem" style="width: 100%;">
        <div class="blogContent" data-ng-bind-html="post.content">
        </div>
    </div>
</div>