<!-- Knowit modal -->
<div id="knowitModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">
                    Knowit
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <i>
                        <strong>Technologies and skills:</strong> Javascript, requrie, Angular, Grunt, jQuery, Sonar, Confluence, Karma, Java, Maven, Karaf, Jenkins, CSS3, HTML5, Jira, Ubuntu
                    </i>
                </p>
                <p class="marginTop">
                    I have worked about 2,5 years at Knowit as an IT-consultant and this is where I am currently employed. During this period I have been on an assignment as a web developer at Telia, one of the largest companies in Sweden in the
                    Telecom business. During my time at Telia I have been working in several different projects.
                </p>
                <p class="marginTop">
                    <p><strong>WanOverView</strong></p>
                    <p>
                        This was the first project I was a part of at Telia. I was assigned as a frontend web developer. The project was about migrating a DataNet business customer portal called WanOverView from an old platform to a new one. In this portal the customers can see and manage their different VPN's, subscriptions and orders of new DataNet subscriptions. The project was challenging becase we the team was spread out over several physical locations, tight timeline and budget as well as a lot of stakeholders.
                    </p>
                    <p class="marginTop">
                        My tasks consisted of developing presentation logic in Javascript using frameworks like require and jQuery. Also I was in charge of the design, working with the CMS, namely <a target="_blank" href="https://www.magnolia-cms.com/">Magnolia</a>, working close with UX resources, creating an AJAX frontend service layer against the backend Java services, server rendered logic in Freemarker and so on. The website can be viewed <a target="_blank" href="https://wanoverview.telia.se/">here</a>.
                    </p>
                </p>
                <p class="marginTop">
                    <p><strong>My Pages</strong></p>
                    <p>
                        After working with WanOverView I was then later assigned to another project named "Mina sidor" (the portal is today called <a target="_blank" href="https://www.telia.se/privat/mitt-telia">Mitt Telia</a>). It is a portal where private customers login to manage and administrate their Telia services and engagements.
                    </p>
                    <p class="marginTop">
                        In this project my main focus was still mainly on frontend. I was introduced to some new technologies, like less and Angualar. There was also big a focus on responsiveness. The biggest challenge for me was that I entered the project in the later stages so I had a lot of catching up to do to get used to the vast codebase and complicated business requirements. We used an agile approach and used Jira an administrative tools for handling the stories and tasks.
                    </p>
                </p>
                <p class="marginTop">
                    <p><strong>Sales flow</strong></p>
                    <p>
                        In this ongoing project which I am currently assigned to I have been developing sales flows for private customers for broadband, ip telephony and tv services. This also includes flows for when ordering broadband services such as Spotify and Play+. During this project the frontend processes have been developing quite fast and because of this I have been introduced to a lot of new technologies, such as Grunt, npm, Jenkins, SiteCatalyst, Sonar, Confluence, Karma, Bower and so on. I also started working a lot more with the backend and became more of a full stack developer. The backend side consists of developing for Telias platform called Agora which is a service platform, a distributable packaging of Tomcat, Karaf, CXF and TeliaSonera micro-services. The challenge with the backend side programming is that the codebase is quite huge, there are a lot of different third party systems that we integrate towards and the business logic can also be quite complex.
                    </p>
                </p>
                </p>
            </div>
            <!--
            <div class="modal-footer">
                <a class="button floatRight">
                    <p text="Code"></p>
                </a>
            </div>
            -->
        </div>
    </div>
</div>
<!-- Cochlear modal -->
<div id="cochlearModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">
                    Cochlear
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <i>
                        <strong>Technologies and skills:</strong> C#, Windows Forms, Visual Studio, ReSharper, TFS, Jira, Stimulsoft reports
                    </i>
                </p>
                <p class="marginTop">
                    Cochlear is company that develops hearing instruments for the hearing impaired.
                </p>
                <p class="marginTop">
                    I've been working with the software team to develop a program used in clinics by audiologists to configure the hearing instrument to the patients needs.
                </p>
                <p class="marginTop">
                    At first my main working field was frontend and design. I was responsible for implementing new design changes to the software that were decided in discussions with the marketing team. I was also responsible for handling translation-issues with new or modified texts within the application. Further into my employment I worked less with pure frontend and more with a wider range of tasks, like backend logic, bugfixing, test/verification, handling support cases and so on. The software is a Windows application built in C# using the framework Windows Forms. Other Windows technologies like TFS and Visual Studio were also used.
                </p>
                <p class="marginTop">
                    During my time at Cochlear I feel that I have progressed a lot. I have become much more familiar and accustomed to programming and design patterns in general. I have also learned a lot more about working in a team on a given project with set deadlines for instance working using the Scrum agile process.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Chalmers data modal -->
<div id="chalmersDataModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">
                    Chalmers software engineering programme
                </h4>
            </div>
            <div class="modal-body">
                <p></p>
                <ul>
                    <li>
                        <p><strong>LSP300:</strong> Introduktion</p>
                    </li>
                    <li>
                        <p><strong>MVE280:</strong> Matematik</p>
                    </li>
                    <li>
                        <p><strong>TIF200:</strong> Fysik</p>
                    </li>
                    <li>
                        <p><strong>LEU430:</strong> Digital- och datorteknik</p>
                    </li>
                    <li>
                        <p><strong>LEU470:</strong> Elektriska kretsar</p>
                    </li>
                    <li>
                        <p><strong>LEU500:</strong> Maskinorienterad programmering</p>
                    </li>
                    <li>
                        <p><strong>LSP580:</strong> Engelska</p>
                    </li>
                    <li>
                        <p><strong>LEU480:</strong> Programutveckling</p>
                    </li>
                    <li>
                        <p><strong>LMA212:</strong> Linjär algebra</p>
                    </li>
                    <li>
                        <p><strong>LET624:</strong> Realtidssystem</p>
                    </li>
                    <li>
                        <p><strong>SSY020:</strong> Linjära system</p>
                    </li>
                    <li>
                        <p><strong>LMA222:</strong> Matematisk analys</p>
                    </li>
                    <li>
                        <p><strong>DAT055:</strong> Objektorienterade applikationer</p>
                    </li>
                    <li>
                        <p><strong>DAT050:</strong> Objektorienterad programmering</p>
                    </li>
                    <li>
                        <p><strong>LEU061:</strong> Datakommunikation</p>
                    </li>
                    <li>
                        <p><strong>DAT076:</strong> Web-applikationer</p>
                    </li>
                    <li>
                        <p><strong>DAT255:</strong> Software engineering project</p>
                    </li>
                    <li>
                        <p><strong>LMA200:</strong> Matematisk statistik</p>
                    </li>
                    <li>
                        <p><strong>EDA263:</strong> Datasäkerhet</p>
                    </li>
                    <li>
                        <p><strong>LSP127:</strong> Professional English</p>
                    </li>
                    <li>
                        <p><strong>DAT065:</strong> Projekt</p>
                    </li>
                    <li>
                        <p><strong>MVE070:</strong> Diskret matematik</p>
                    </li>
                    <li>
                        <p><strong>TMV200:</strong> Diskret matematik (avancerad)</p>
                    </li>
                    <li>
                        <p><strong>LMTX38:</strong> Examensarbete vid Data- och informationsteknik</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="cvContainer">
    <div class="mainContentItem full paddingBottom">
        <div class="cvTable">
            <div class="tableRow">
                <div class="tableRowCell" id="leftColumn">
                    <!-- LEFT COLUMN -->
                    <div class="columnContainer">
                        <div class="table">
                            <div class="tableRow">
                                <div class="tableRowCell">
                                    <h4>Job experience</h4>
                                </div>
                                <div class="tableRowCell">
                                    <ul>
                                        <li class="paddingBottom">
                                            <p>
                                                <span class="jobTitle">
                                                    <a href="http://www.knowit.se" target="_blank">Knowit AB</a>, IT-consultant
                                                </span>
                                            </p>
                                        </li>
                                        <li class="paddingBottom noDisc">
                                            <p>
                                                <span class="fakeLink readMoreLink" data-toggle="modal" data-target="#knowitModal">
                                                    Read more >>
                                                </span>
                                            </p>
                                            <div class="showMoreBox" id="knowit">
                                                <p>
                                                    (write a better description later)
                                                </p>
                                            </div>
                                        </li>
                                        <li class="paddingBottom">
                                            <p>
                                                <span class="jobTitle">
                                                    <a href="http://www.cochlear.com" target="_blank">Cochlear Ltd</a>, Programmer
                                                </span>
                                            </p>
                                        </li>
                                        <li class="paddingBottom noDisc">
                                            <p>
                                                <span class="fakeLink readMoreLink" data-toggle="modal" data-target="#cochlearModal">
                                                    Read more >>
                                                </span>
                                            </p>
                                            <div class="showMoreBox" id="cochlear">
                                                <p>
                                                    This was my first job as a software developer after my education at Chalmers. I worked at Cochlear Ltd, a company that develops
                                                    hearing aid devices. My main area of work was on the frontend side of a Windows application coded in C# using the framework Windows
                                                    Forms. (write a better description later)
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tableRow">
                                <div class="tableRowCell">
                                    <h4>Education</h4>
                                </div>
                                <div class="tableRowCell">
                                    <ul>
                                        <li class="paddingBottom">
                                            <p>Software engineering, Bachelors programme 180p</p>
                                            <p><a href="http://www.chalmers.se" target="_blank">Chalmers University of Technology</a></p>
                                            <p>
                                                <span class="fakeLink readMoreLink" data-toggle="modal" data-target="#chalmersDataModal">
                                                    Read more >>
                                                </span>
                                            </p>
                                        </li>
                                        <li class="paddingTop paddingBottom">
                                            <p>Teknisk bastermin</p>
                                            <p><a href="http://www.chalmers.se" target="_blank">Chalmers University of Technology</a></p>
                                        </li>
                                        <li class="paddingTop paddingBottom">
                                            <p>Natural sciences programme</p>
                                            <p><a href="http://goteborg.se/wps/portal/katrinelundsgymnasiet" target="_blank">Katrinelundsgymnasiet</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tableRow">
                                <div class="tableRowCell">
                                    <h4>Languages</h4>
                                </div>
                                <div class="tableRowCell">
                                    <ul>
                                        <li class="paddingBottom">
                                            <p><b>Swedish</b> - native tounge</p>
                                        </li>
                                        <li class="paddingTop paddingBottom">
                                            <p><b>English</b> - fluent</p>
                                        </li>
                                        <li class="paddingTop paddingBottom">
                                            <p><b>Spanish</b> - good</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a href="documents/CV-Martin.pdf" download="CV-Martin.pdf">
                            <div class="pdfDownloadOuterContainer">
                                <div class="pdfDownloadInnerContainer">
                                    <p>
                                        DOWNLOAD AS PDF
                                    </p>
                                    <i class="fa fa-file-pdf-o fa-4x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tableRowCell" id="rightColumn">
                    <!-- RIGHT COLUMN -->
                    <div class="columnContainer">
                        <div class="table" id="technicalCompetence">
                            <div class="tableRow">
                                <div class="tableRowCell">
                                    <h4>Technical competence</h4>
                                    <ul class="marginLeft paddingTop paddingLeft" data-ng-repeat="tech in techCompetence">
                                        <li class="paddingTop paddingBottom">
                                            <p><b data-ng-bind="tech.name"></b></p>
                                            <ul class="marginLeft" style="list-style-type: none;" data-ng-repeat="competence in tech.competences">
                                                <li>
                                                    <p>
                                                        {{competence.name}} <span class="knowledgeGrade" grade="{{competence.grade}}"><span></span><span></span></span>
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>