<div class="centeringBox">
    <div class="centeringInnerBox">
    	<p class="standardText marginTop paddingTop">
			Drag and drop elements to the green area to start.
    	</p>
    	<div>
    		<div id="content" style="display:block !important;">
    			<div id="mapeditor" style="width: 525px; height: 700px; float: left;">
    			</div>
    			<div id="xmldata" style="width: auto; height: auto; float: left; margin-top:40px;">
    				<textarea id="textarea" cols="65" rows="31"></textarea>
    			</div>
    		</div>
    	</div>
    </div>
</div>