<div class="centeringBox start">
    <div class="centeringInnerBox" style="display: none;">
        <div class="myNameIs">My name is <span id="typoGraphyName">Martin Sonesson</span> and I'm a</div>
        <div class="softwareEngineer">Software engineer</div>
        <span class="line-left"></span><div class="andA">and a</div><span class="line-right"></span>
        <div class="programmer">programmer</div>
    </div>
    <div class="centeringInnerBox notSelectable">
        <div class="signature">
            <div id="sonesson3dlogooverlay">
            </div>
            <div id="sonesson3dlogo"></div>
        </div>
    </div>
</div>