<div class="mainContentItem full" style="height: 100%; width: 100%; float: none; margin: 0 auto;" data-ng-cloak>
      <div class="grid">
            <div data-ng-repeat="project in projects" class="grid-item" data-ng-class="{'grid-item--width2': (project.highlightProject)}">
                <a href="" data-content="{{project.name}}" data-toggle="modal" data-target="#{{project.id}}Modal">
                    <img src="{{project.img}}">
                </a>
            </div>
      </div>
</div>

<!-- Star Manager modal -->
<div id="starappModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">
                    Star Manager
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    This is a app I created for Windows 8 and Windows RT and it's targeted towards Starcraft 2 players. The app allows the user to connect to
                    Starcraft 2 account and it then loads information about the player using
                    <a href="http://blizzard.github.io/api-sc2-docs/" target="_blank">Blizzards official SC2 API</a>. The purpose of the application is to let
                    users track their progress and view statistics regarding their progress in the game.
                </p>
                <p class="marginTop">
                    The app supports the metro grid layout in Windows 8/RT, it can be added as a tile in start screen where it displays the current progress
                    which updates automatically.
                </p>
                <p class="marginTop">
                    The application is written purely with standard web technologies, HTML5, CSS3 and Javascript. Libraries like jQuery and linq are also used.
                    I version the code on my Github account which you can view by clicking the code-button below.
                </p>
            </div>
            <div class="modal-footer">
                <a class="button floatRight" href="https://www.microsoft.com/en-US/store/apps/Star-Manager/9WZDNCRDWZ3X" target="_blank">
                    <p text="Download"></p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio modal -->
<div id="portfolioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">
                    Portfolio
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    This is the very site you're on right now, my personal website and portfolio. I began working on a
                    first portfolio that can still be found on <a href="http://www.martins-web.com" target="_blank">martins-web.com</a>
                    but I only got a design down and then scrapped the project. I wasn't satisfied with some aspects of the design and
                    I also wanted to host the site myself whereas this one is hosted via one.com. In august 2014 I began working on
                    this new portfolio.
                </p>
                <p class="marginTop">
                    This site uses modern webdesign technologies. jQuery is used a lot but also other frameworks such as Angular
                    and requirejs for handling MV*-patterns on the clientside, for structuring scripts and handling module loading.
                    I also work with less to easier structure CSS stylings. The complete source code is versioned via Github which
                    you can view below by clicking the Code-button. I develop on my local machine using WAMP-server and whenever
                    a certain part feels complete I push it to Github and then pull it from the server for easy and fast deployment.
                </p>
                <p class="marginTop">
                    The server itself is a Raspberry Pi that I manage myself. It runs Raspbian OS, NodeJS, Apache, php, SSH-client
                    and other useful tools for making it into a fully capable webserver. It is plugged into my router which is
                    configured to forward HTTP and SSH ports to the Raspberry Pi. I also have cronjobs in place to handle backup
                    of data and updating the DynDNS pointer for my domain operator..
                </p>
            </div>
            <div class="modal-footer">
                <a class="button floatRight" href="https://github.com/ToWelie89/martinsweb" target="_blank">
                    <p text="Code"></p>
                </a>
                <a class="button floatRight" href="http://www.martinsonesson.se/docs" target="_blank">
                    <p text="JsDoc"></p>
                </a>
                <a class="button floatRight" href="https://github.com/ToWelie89/martinsweb/wiki" target="_blank">
                    <p text="Wiki"></p>
                </a>
            </div>
        </div>
    </div>
</div>