<div class="mainContentItem full" style="position: relative; height: 100%; width: 100%;" data-ng-cloak>
	<div id="projectInfo">
		<div id="projectInfoInner"></div>
	</div>
	<div id="projectsMenu" style="position: relative;">
		<div class="table noPadding">
			<div class="tableRowCell floatLeft" data-ng-repeat="project in projects">
				<div class="projectsHeader projectsLink" style="background: url({{project.img}});" for="{{project.id}}" data-ng-click="projectsLinkClickHandler(project.id)" data-ng-class="{large: project.showLarge}">
					<div class="projectOverlay"></div>
					<div class="projectsTextContainer">
						<h5>
							{{project.name}}
						</h5>
						<span class="description">{{project.description}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>