<div class="centeringBox paddingTop">
    <div class="centeringInnerBox">
        <h1>Drawing</h1>
        <div class="video-gallery">
            <a href="http://www.youtube.com/watch?v=DFK_SgbwNVs" data-src="http://img.youtube.com/vi/DFK_SgbwNVs/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/DFK_SgbwNVs/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=krux_3u6Bbs" data-src="http://img.youtube.com/vi/krux_3u6Bbs/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/krux_3u6Bbs/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=DBbjYklsN_s" data-src="http://img.youtube.com/vi/DBbjYklsN_s/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/DBbjYklsN_s/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=7x2UNZJR6CE" data-src="http://img.youtube.com/vi/7x2UNZJR6CE/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/7x2UNZJR6CE/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=BZlBThdalQk" data-src="http://img.youtube.com/vi/BZlBThdalQk/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/BZlBThdalQk/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=3tXxkPJKhaY" data-src="http://img.youtube.com/vi/3tXxkPJKhaY/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/3tXxkPJKhaY/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
        </div>
        <div class="video-gallery">
            <h1>Gaming</h1>
            <a href="http://www.youtube.com/watch?v=FtmTcA0xq8M" data-src="http://img.youtube.com/vi/FtmTcA0xq8M/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/FtmTcA0xq8M/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=XkxLlN35xs8" data-src="http://img.youtube.com/vi/XkxLlN35xs8/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/XkxLlN35xs8/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="" data-src="http://img.youtube.com/vi/HScxsJkpf_8/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/HScxsJkpf_8/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=HScxsJkpf_8" data-src="http://img.youtube.com/vi/_ofEb2kekYI/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/_ofEb2kekYI/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=_ofEb2kekYI" data-src="http://img.youtube.com/vi/L27_NCeNaQ8/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/L27_NCeNaQ8/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=L27_NCeNaQ8" data-src="http://img.youtube.com/vi/yQMLZaJYBvI/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/yQMLZaJYBvI/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=yQMLZaJYBvI" data-src="http://img.youtube.com/vi/Bm1-emdG6dA/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/Bm1-emdG6dA/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=Bm1-emdG6dA" data-src="http://img.youtube.com/vi/j0shh6_YY2g/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/j0shh6_YY2g/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=j0shh6_YY2g" data-src="http://img.youtube.com/vi/L27_NCeNaQ8/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/L27_NCeNaQ8/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
            <a href="http://www.youtube.com/watch?v=L27_NCeNaQ8" data-src="http://img.youtube.com/vi/VfiP9KyfjmU/mqdefault.jpg" class="video">
                <img class="artGalleryImg" src="../../build/assets/play_icon.f5de3a14.png" style="background-image: url(http://img.youtube.com/vi/VfiP9KyfjmU/mqdefault.jpg); background-size: cover;" width="150" height="150">
            </a>
        </div>
    </div>
</div>