<!-- <div class="centeringBox paddingTop">
    <div class="centeringInnerBox">
        <div data-ng-repeat="videoCategory in videos" id="video-gallery">
            <div class="video-gallery">
                <h1 data-ng-bind="videoCategory.name"></h1>
                <a href="{{video.url}}" data-poster="{{video.thumbnail}}"  data-ng-repeat="video in videoCategory.videos">
                    <img class="artGalleryImg"
                         src="../../assets/build/play_icon.png"
                         style="background-image: url({{video.thumbnail}}); background-size: cover;"
                         width="150"
                         height="150">
                </a>
            </div>
        </div>
    </div>
</div> -->