/* This is the standard stylings, used for large */
@containerWidth: 1280px;

/***************************
  CSS RESET
***************************/

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #2f4e77;
}

/***************************
  SHOW / HIDE FOR BREAKPOINTS
***************************/

.showOnlyForSmall {
    display: none;
}
.hideOnlyForSmall {
    display: block;
}

// Background element used for the polygon background generation
.mainBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

h1 {
    padding: 0px;
    margin: 0px;
    color: white;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: ProxiBlack;
    font-size: 4em;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.errorCodeTitle {
    color: black;
    font-size: 5em;
    font-family: ProxiBlack;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.standardDividerLine {
    border-bottom: 2px solid darkgray;
    width: 90%;
    display: inline-block;
}

p {
    margin: 0px;
    padding: 0px;
}

p.standardText {
    font-family: ProxiRegular;
    font-size: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    outline: none;
}

.noDisc {
    list-style-type: none;
}

.fakeLink, a {
    color: @linkColor;
    cursor: pointer;
    &:hover {
        color: @linkHoverColor;
    }
}

div#main{
    margin: auto;
    width: @containerWidth;
    padding-bottom: 60px;
}

.fb-like {
    float: right;
    padding-top: 18px;
    padding-right: 10px;
}

#menu, #subMenuContainer{
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    margin: auto;
    width: 1200px;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    padding-left: 10px;
}

#subMenuContainer{
    padding-left: 0px !important;
    border: none;
    width: 1214px;
}

div#contentBar{
    height: 100%;
    margin: 0;
    background: @mainContentBg;
    min-height: @minHeightOfContent;
    border: 5px solid @borderColor;

    .centeringBox {
        display: table;
        height: 400px;
        width: 100%;
        min-height: @minHeightOfContent;
        .centeringInnerBox {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            text-align: center;
        }
    }
}

#content {
    display: none;
}

#contentBar:after{
    content: " ";
    display: block;
    clear: both;
}

#sizeIndicator:before{
    color: white;
    content: "LARGE";
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.showMoreBox {
    display: none;
    background-color: rgba(0,0,0,0.15);
    padding: 20px;
}