@containerWidth: 100%;
@minHeightOfContent: 100%;

/***************************
  SHOW / HIDE FOR BREAKPOINTS
***************************/

.showOnlyForSmall {
    display: block;
}
.hideOnlyForSmall {
    display: none;
}

#sizeIndicator:before{
    content: "SMALL";
}

body {
	background: none;
	background-color: black;
}

div#main{
    margin: auto;
    width: @containerWidth;
    height: 100%;
    padding-bottom: 0px;
}

h1{
	font-size: 2em;
	margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#contentBar{
    border: none;
    border-radius: 0px;
    height: auto;

    p {
        font-size: 1em;
    }
    .centeringBox {
        display: block;
        height: auto;
        .centeringInnerBox {
        	display: block;
        }
    }
}

#menu {
    padding-left: 0px;
    width: auto;
}

#subMenuContainer {
    width: auto;
}

.fb-like {
    display: none !important;
}