<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <script src="scripts/jquery.min.js"></script>
    <script async src="scripts/trianglify.js"></script>
    <script>
        window.onload = function() {
            var pattern = Trianglify({
                width: 3840,
                height: 2160,
                variance: 1,
                seed: 'dont forget to bring a towel',
                cell_size: 120,
                x_colors: ['#000000', '#2e3192','#ffffff'],
                y_colors: ['#ffffff', '#1b1464','#000000']
            });
            $(".mainBg").html(pattern.canvas());
            $(".mainBg").attr("id", "canvasBg");

            //$(window).resize(resizeCanvas);
            function resizeCanvas() {
                var pattern = Trianglify({
                    width: window.innerWidth,
                    height: window.innerHeight
                });
                $(".mainBg").html(pattern.canvas());
            }
        }
    </script>
</head>

<body>
<div class="mainBg"></div>

<div id="main">

    <h1 class="page-title">martinsonesson.se JsDOC</h1>

    <?js= content ?>
</div>

<nav>
    <?js= this.nav ?>
</nav>

<br class="clear">

<footer>
    <span>
    Martin Sonesson | <a href="http://martinsonesson.se">Portfolio</a> | <a href="http://martinsonesson.wordpress.com">Blog</a> | <a href="http://se.linkedin.com/pub/martin|sonesson/47/b65/200">LinkedIn</a> | <a href="http://www.github.com/ToWelie89">Github</a> | <a href="http://www.twitter.com/Martin_Sonesson">Twitter</a> | <a href="http://www.instagram.com/martin.sonesson">Instagram</a> | Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
    </span>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
