.subMenuBar {
	display: none;
	background-color: @niceBlue;
	margin-top: -7px;
	padding-left: 0px;

	.subMenuLink {
	    margin-right: 5px;
	    font-size: 0.9em;
        padding-top: 12px;
    	padding-bottom: 11px;
    	padding-left: 6px;
    	padding-right: 6px;

		&:first-child{
			margin-left: 10px;
		}
	}
}