.modal-content {
    background: @mainContentBg;
    border: none;
    border-radius: 0px;
}

.modal-header {
    h4 {
        font-family: ProxiBold;
        font-size: 1.6em;
        width: 90%;
    }
    i {
        font-size: 1.4em;
    }
    border-bottom: none;
    background-color: @niceBlue;
    color: white;
}

.modal-body {
    min-height: 150px;
    p {
        font-family: ProxiRegular;
    }
    ul {
        padding-left: 15px;
    }
}

.modal-backdrop {
    background-color: rgba(9,6,66,1);
}

.modal-footer {
    a {
        margin-right: 5px !important;
    }
}